-- MariaDB dump 10.19-11.3.2-MariaDB, for Win64 (AMD64)
--
-- Host: localhost    Database: rpl
-- ------------------------------------------------------
-- Server version	11.3.2-MariaDB

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!40101 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Dumping data for table `finished_movies`
--

LOCK TABLES `finished_movies` WRITE;
/*!40000 ALTER TABLE `finished_movies` DISABLE KEYS */;
/*!40000 ALTER TABLE `finished_movies` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `finished_series`
--

LOCK TABLES `finished_series` WRITE;
/*!40000 ALTER TABLE `finished_series` DISABLE KEYS */;
/*!40000 ALTER TABLE `finished_series` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `movies`
--

LOCK TABLES `movies` WRITE;
/*!40000 ALTER TABLE `movies` DISABLE KEYS */;
/*!40000 ALTER TABLE `movies` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `ongoing_movies`
--

LOCK TABLES `ongoing_movies` WRITE;
/*!40000 ALTER TABLE `ongoing_movies` DISABLE KEYS */;
INSERT INTO `ongoing_movies` VALUES
(75,3325),
(1,3143),
(66,4176),
(40,3910),
(68,4868),
(93,4533),
(85,4315),
(49,4223),
(50,3714),
(86,3837),
(48,4679),
(87,3383),
(39,4084),
(22,3684),
(94,4074),
(80,3014),
(33,3033),
(76,4896),
(12,4916),
(58,3410),
(69,4899),
(15,4952),
(64,3846),
(9,4769),
(78,4913),
(25,4548),
(62,3001),
(24,3908),
(97,4081),
(4,3901);
/*!40000 ALTER TABLE `ongoing_movies` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `ongoing_series`
--

LOCK TABLES `ongoing_series` WRITE;
/*!40000 ALTER TABLE `ongoing_series` DISABLE KEYS */;
INSERT INTO `ongoing_series` VALUES
(75,1,2,3325),
(1,1,2,3143),
(66,1,2,4176),
(40,1,2,3910),
(68,1,2,4868),
(93,1,2,4533),
(85,1,2,4315),
(49,1,2,4223),
(50,1,2,3714),
(86,1,2,3837),
(48,1,2,4679),
(87,1,2,3383),
(39,1,3,4084),
(22,1,3,3684),
(94,2,3,4074),
(80,2,3,3014),
(33,2,3,3033),
(76,2,3,4896),
(12,2,3,4916),
(58,2,3,3410),
(69,2,3,4899),
(15,2,3,4952),
(64,2,4,3846),
(9,2,4,4769),
(78,2,4,4913),
(25,2,4,4548),
(62,2,4,3001),
(24,2,4,3908),
(97,2,4,4081),
(4,2,4,3901);
/*!40000 ALTER TABLE `ongoing_series` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `review_movies`
--

LOCK TABLES `review_movies` WRITE;
/*!40000 ALTER TABLE `review_movies` DISABLE KEYS */;
INSERT INTO `review_movies` VALUES
(52,7),
(91,7),
(56,7),
(79,7),
(35,7),
(16,9),
(95,9),
(3,9),
(19,9),
(83,9),
(45,6),
(89,6),
(81,6),
(67,10),
(74,10),
(51,10),
(88,10),
(29,8),
(8,8),
(42,8);
/*!40000 ALTER TABLE `review_movies` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `review_series`
--

LOCK TABLES `review_series` WRITE;
/*!40000 ALTER TABLE `review_series` DISABLE KEYS */;
INSERT INTO `review_series` VALUES
(52,7,NULL),
(91,7,NULL),
(56,7,NULL),
(79,7,NULL),
(35,7,NULL),
(16,9,NULL),
(95,9,NULL),
(3,9,NULL),
(19,9,NULL),
(83,9,NULL),
(45,6,NULL),
(89,6,NULL),
(81,6,NULL),
(67,10,NULL),
(74,10,NULL),
(51,10,NULL),
(88,10,NULL),
(29,8,NULL),
(8,8,NULL),
(42,8,NULL);
/*!40000 ALTER TABLE `review_series` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `series`
--

LOCK TABLES `series` WRITE;
/*!40000 ALTER TABLE `series` DISABLE KEYS */;
/*!40000 ALTER TABLE `series` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `watchlist_movies`
--

LOCK TABLES `watchlist_movies` WRITE;
/*!40000 ALTER TABLE `watchlist_movies` DISABLE KEYS */;
INSERT INTO `watchlist_movies` VALUES
(5),
(7),
(10),
(11),
(13),
(14),
(18),
(20),
(21),
(23),
(31),
(32),
(34),
(36),
(37),
(41),
(43),
(44),
(47),
(54),
(55),
(57),
(59),
(65),
(70),
(73),
(77),
(82),
(84),
(92),
(96),
(98),
(99);
/*!40000 ALTER TABLE `watchlist_movies` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `watchlist_series`
--

LOCK TABLES `watchlist_series` WRITE;
/*!40000 ALTER TABLE `watchlist_series` DISABLE KEYS */;
INSERT INTO `watchlist_series` VALUES
(5),
(7),
(10),
(11),
(13),
(14),
(18),
(20),
(21),
(23),
(31),
(32),
(34),
(36),
(37),
(41),
(43),
(44),
(47),
(54),
(55),
(57),
(59),
(65),
(70),
(73),
(77),
(82),
(84),
(92),
(96),
(98),
(99);
/*!40000 ALTER TABLE `watchlist_series` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2024-05-14 15:37:15
